.login-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-conatiner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
}
.submit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1em;
}
.label {
  padding-right: 1em;
}
.inputs {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1em;

  @media screen and (max-width: 480px) {
    flex-direction: column;
  }
}
